<div id="master-footer" class="page-footer">
    <div id="footer">
        <div id="footer-container" class="container">
            <div id="footer-navigation">
                <div class="row">
                    <ul class="footer-navigation-links">
                        <li>
                            @Html.ActionLink("Home", "Index", "Home")
                        </li>
                        <li>
                            @Html.ActionLink("About", "About", "Home")
                        </li>
                        <li>
                            @Html.ActionLink("Portfolio", "Portfolio", "Home")
                        </li>
                        <li>
                            @Html.ActionLink("Resume", "Resume", "Home")
                        </li>
                        <li>
                            @Html.ActionLink("Contact", "Contact", "Home")
                        </li>
                    </ul>
                </div>
            </div>
            <div id="footer-contact" class="center">
                <div class="row">
                    <p class="footer-contact-information">Everett Southwick | <a class="encoded-phone" href="dGVsOjE5MTM3MDUwODE4"><span class="encoded-phone">KDkxMykgNzA1LTA4MTg=</span></a> | <a class="encoded-email" href="bWFpbHRvOmV2ZXJldHRAZXZlcmV0dHNvdXRod2ljay5jb20="><span class="encoded-email">ZXZlcmV0dEBldmVyZXR0c291dGh3aWNrLmNvbQ==</span></a></p>
                </div>
            </div>
            <div id="footer-social-media" class="center">
                <div class="row">
                    <ul class="footer-social-media">
                        <li>
                            <a class="encoded-email" href="bWFpbHRvOmV2ZXJldHRAZXZlcmV0dHNvdXRod2ljay5jb20=">
                                <i class="material-icons small">email</i>
                            </a>
                        </li>
                        <li>
                            <a href="https://github.com/everettsouthwick" target="_blank">
                                <i class="fa fa-github small"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.linkedin.com/in/everettsouthwick" target="_blank">
                                <i class="fa fa-linkedin small"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div id="footer-copyright">
            <div id="footer-copyright-container" class="container">
                <div class="row">
                    <p class="footer-copyright-text">&copy; @DateTime.Now.Year Everett Southwick. All rights reserved.</p>
                </div>
            </div>
        </div>
    </div>
